body {
  margin: 0;
  font-family: sans-serif;
}

.tv {
  background: black;
  color: white;
}

/* full viewport container for absolutely positioned items */
#wall {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* keep elements inside viewport */
  background: black;
}

.message {
  font-size: 3rem;
  margin: 8px;
  max-width: 40vw; /* prevent text from being too wide */
  word-wrap: break-word;
  color: white;
}

.image, iframe {
  max-width: 40vw;
  max-height: 40vh;
  margin: 20px;
  border-radius: 10px;
  object-fit: cover;
  border: solid black 2px;
}
